{namespace webvim}

/**
* Creates the html for a webvim viewport
* @param rows The number of rows
* @param columns The number of columns
* @param? idPrefix The id prefix to use 
*/
{template .viewport}
  {for $i in range(1, $rows+1)}
    <div id="vim-line-{$i}">
      {for $j in range(1, $columns + 1)}
        <span id="{$idPrefix}-character-{$i}-{$j}">a</span>
      {/for}
    </div>
  {/for}
{/template}

