{namespace webvim}

/**
* Creates the html for a webvim viewport
* @param rows The number of rows
* @param columns The number of columns
* @param? idPrefix The id prefix to use 
*/
{template .viewport}
  {for $i in range(0, $rows)}
    <div id="{$idPrefix}-line-{$i}" class="line">
      {for $j in range(0, $columns)}
        <span id="{$idPrefix}-character-{$i}-{$j}" class="char">&nbsp</span>
      {/for}
    </div><br/>
  {/for}
  <span id="{$idPrefix}-command-line">Test</span>
{/template}

